{
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-styled-components"
  ],
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-remove-graphql-queries", "@babel/plugin-transform-runtime"]
    }
  }
}

