# Project dependencies
.cache
node_modules
yarn-error.log
coverage

# Build directory
public
.DS_Store
.env.development
.env.production

# Text editor folders
/.idea

# Custom git hook directory
.commit-msg

# Storybook
build-storybook.log
storybook-static