{
  "src/**/*.{js,json,ts,tsx}": [
    "eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: \"tsconfig.json\"}]'",
    "stylelint",
    "jest --findRelatedTests"
  ],
  "*.md": "remark . --frail",
  "package.json": [
    "prettier-package-json --write",
    "git add ."
  ]
}
