{
  "src/**/*.{js,json,ts,tsx}": [
    "eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: \"tsconfig.json\"}]'",
    "stylelint",
    "jest --findRelatedTests",
    "git add"
  ],
  "*.md": "remark . --frail"
}
