.gallery-slick {
  max-height: 500px;
}

.gallery-slick .slick-arrow {
  z-index: 1;
}

.gallery-slick .slick-arrow.slick-prev {
  left: 13%;
}

.gallery-slick .slick-arrow.slick-next {
  right: 13%;
}

.gallery-slick .slick-slide {
  max-height: 500px;
  opacity: 0.3;
  padding-right: 5px;
  padding-left: 5px;
  transition: all 0.5s ease-out;
}

.gallery-slick .slick-active {
  opacity: 1;
  transition: all 0.5s ease-in;
}

.gallery-slick .slick-slide:not(.slick-active) div div div,
.gallery-slick .slick-slide:not(.slick-active) div div a {
  display: none;
}
