:root {
  font-size: 16px;
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.no-scroll {
  position: fixed;

  /* Width 100% required as slick carousel breaks inside fixed positioned container */
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 1.125rem;
  line-height: 1.25;
  overflow-x: hidden;
}

div#___gatsby {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

h1 {
  line-height: normal;
  font-size: 1.75rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  line-height: 2.125rem;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin: 3.125rem 0 1.875rem 0;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  margin: 1.875rem 0 0.9375rem 0;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0 0 0.3125rem 0;
}

h1,
h2,
h3 {
  color: #2d2f7f;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 0 1.25rem 0;
}

li {
  font-size: 1rem;
  line-height: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

a:not([class]) {
  text-decoration: none;
  border-bottom: 2px solid #2cda9d;
  color: #000000;
  transition: color 0.15s linear;
}

a:not([class]):hover,
a:not([class]):focus {
  color: #2cda9d;
}

hr {
  border-top: none;
  border-color: #efefef;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgOSAxNCIgd2lkdGg9IjkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTMxLjM3ODY3OTcgMzAtNC45MzkzMzk5LTQuNjEwMDUwNWMtLjU4NTc4NjQtLjU0NjczNC0uNTg1Nzg2NC0xLjQzMzE2NSAwLTEuOTc5ODk5LjU4NTc4NjUtLjU0NjczNCAxLjUzNTUzMzktLjU0NjczNCAyLjEyMTMyMDQgMGw2IDUuNmMuNTg1Nzg2NC41NDY3MzQuNTg1Nzg2NCAxLjQzMzE2NSAwIDEuOTc5ODk5bC02IDUuNmMtLjU4NTc4NjUuNTQ2NzM0LTEuNTM1NTMzOS41NDY3MzQtMi4xMjEzMjA0IDAtLjU4NTc4NjQtLjU0NjczNC0uNTg1Nzg2NC0xLjQzMzE2NSAwLTEuOTc5ODk5eiIgZmlsbD0iIzJkMmY3ZiIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgMzUgLTIzKSIvPjwvc3ZnPg==');
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgOSAxNCIgd2lkdGg9IjkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTMxLjM3ODY3OTcgMzAtNC45MzkzMzk5LTQuNjEwMDUwNWMtLjU4NTc4NjQtLjU0NjczNC0uNTg1Nzg2NC0xLjQzMzE2NSAwLTEuOTc5ODk5LjU4NTc4NjUtLjU0NjczNCAxLjUzNTUzMzktLjU0NjczNCAyLjEyMTMyMDQgMGw2IDUuNmMuNTg1Nzg2NC41NDY3MzQuNTg1Nzg2NCAxLjQzMzE2NSAwIDEuOTc5ODk5bC02IDUuNmMtLjU4NTc4NjUuNTQ2NzM0LTEuNTM1NTMzOS41NDY3MzQtMi4xMjEzMjA0IDAtLjU4NTc4NjQtLjU0NjczNC0uNTg1Nzg2NC0xLjQzMzE2NSAwLTEuOTc5ODk5eiIgZmlsbD0iIzJkMmY3ZiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI2IC0yMykiLz48L3N2Zz4=');
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.slick-prev:before,
.slick-next:before {
  content: none;
}

/*Desktop Styles*/
@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 4.25rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.375rem;
    margin-top: 3.75rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.8125rem;
    margin: 1.875rem 0;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.25;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0 0 0.3125rem 0;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  li {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  hr {
    margin: 40px 0;
  }
}
